@import url(http://fonts.googleapis.com/css?family=Actor);

body {
	background-color: #EDF0E4;
	margin: 0px;	
}

.main {
	background-color: white;
	box-shadow: 10px 0px 5px #888888;
}
.logo {
	float: left;
	margin-left: 0px; 
    padding: 0px 25px 10px 25px;
}
nav a {
	float: right;
	display: block;
	text-decoration:none;
	margin: 0 10px 0 10px;
	color: black;
	text-align: center;
	line-height: 80px;
}
.bulk {
	height: auto;
	width: auto;
}

.pic-container {
	min-width: 1200px;
	max-width: 2000px;
	text-align: center;
	padding-left: 40px;
}

figure.pic {
	width: 400px;
	display: inline-block;
	margin-right: 0px;
	margin-left: 0px;
}
figure.pic img {
	width: 350px;
	}
figcaption {
	line-height: 50px;
	text-align: center;
	background-color: white;
	color: #c4c0c2;
	width: 350px;
	height: 60px;
	margin-left: 24px;
}
.star {
	margin-left: 450px;
	margin-top: 0px;
	border-top-width: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.top_info {
	text-align: center;
	padding-left: 75px;
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 48px;
	font-family: Actor;
}
.bottom_info {
	display: inline-block;
	text-align: center;
	width: 250px;
	background-color: #FA8072;
	border-radius: 5px;
	font-family: Actor;
	font-size: 20px;
	padding: 20px;
	color: white;
}

.bottom-container {
	text-align: center;
	display: block;
	margin: 60px 0 50px 70px;
}


.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}